<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./index.css" />
    <script>
      document.write("<h1>JavaScript Names </h1>");
      var fname = prompt("Enter First Name :");
      var mname = prompt("Enter Middle Name :");
      var lname = prompt("Enter Last Name :");
      var profit = "MR. " + fname + " " + mname + " " + lname;
      document.write("Full Name : ");
      document.write("<b>" + profit + "</b>");
    </script>    
    <style>

        b{
          color: red;
        }
    </style>
  </head>
  <body></body>
</html>
